div{
display: flex; 
flex-direction: row; 
flex-wrap: wrap; 
align-items: center;
text-align:center;
padding: 25px 0px;
justify-content:center;
margin:auto;
}
table{
text-align: left;
color: white;
font-size:17px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  font-family: Georgia, serif;
  background-color: white;
  border: none;
  border-radius: 0px;
 
}
.button:hover {
	background-color: beige;
	border-bottom:2px solid red;
}
.button:active {
  background-color: coral;
  box-shadow: 0 2px black;
  transform: translateY(2px);
}
.shadow{
	filter: drop-shadow(0.6rem 0.6rem 0.5rem rgba(20, 20, 180, 0.8));
}
.tooltip {
position: relative;
display: inline-block;
}
	
.tooltip .tooltiptext {
	
visibility:hidden;
width: auto;
background-color:red;
color:white;
font-family:Sans-serif;
font-size:15px;
text-align: left;
border-radius: 10px;
padding: 5px 10px;
position:absolute;
top: 100%;
left: 50%;
margin-left: -50%;
transition: opacity 0.3s;
z-index:1;

}

.tooltip:hover .tooltiptext{
 visibility: visible;
 opacity: 1;
}
.tooltip .tooltiptext::after{
top: 100%;
left: 50%;
margin-left: -5px;
}